<ion-header>
  <ion-toolbar>
    <ion-title>Viewing Profile</ion-title>
    <ion-button color="primary" slot="start" fill="clear" (click)="routeBack()" size="large" routerDirection="back">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar>
    <img *ngIf="profileDetails.picture != ''" src= "{{ 'data:image/jpeg;base64,' + profileDetails.picture }}">
    <img *ngIf="profileDetails.picture == ''" src= "https://eu.ui-avatars.com/api/?background=000&color=FFF&bold=true&size=128&name={{ profileDetails.name }}">
  </ion-avatar>

  <ion-item>
    <ion-label class="ion-text-wrap">
      <ion-text color="Primary">
        <h1>{{ profileDetails.name}}</h1>
        <h2>{{ profileDetails.distance}} Km Away</h2>
      </ion-text>
      <br>
      <ion-text>
        <p>{{ profileDetails.bio}}</p>
      </ion-text>
      <br>
      <ion-text color="Primary">
        <h2>Looking For: </h2>
      </ion-text>
      <ion-text>
        <p>{{ profileDetails.lookingFor}}</p>
      </ion-text>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="ion-text-wrap">
      <ion-text color="Primary">
        <h2>Genres: </h2>
      </ion-text>
      <ion-badge *ngFor="let genre of profileDetails.genres" color="secondary">{{genre}}</ion-badge>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="ion-text-wrap">
      <ion-text color="Primary">
        <h2>Venues: </h2>
      </ion-text>
      <ion-badge *ngFor="let venue of profileDetails.venues" color="secondary">{{venue}}</ion-badge>
    </ion-label>
  </ion-item>
  
</ion-content>
