img {
  width: 100%;
}

ion-badge {
  padding: 5px;
  margin: 3px;
}

ion-avatar {
  width: 200px;
  height: 200px;
  border: 3px solid var(--ion-color-primary);
  margin: 20px auto;
  position: relative;
  border-radius: 100%;
}
