.message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 4px;
  white-space: pre-wrap;
}

.received-message {
  background-color: var(--ion-color-secondary);
  color: #fff;
}

.sent-message {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-secondary);
}

.time {
  color: #dfdfdf;
  float: right;
  font-size: small;
}

.message-input {
 width: 100%;
 border-radius: 10px;
 background-color: #fff;
 resize: none;
 padding-left: 10px;
 padding-right: 10px;
}

.message-button {
  --padding-start: 0.5em;
  --padding-end: 0.5em;
}