<div class="login-view">

  <div class="app-logo">
    <img src="../../../assets/gigibox_logo.png">
  </div>
  <div class="error">
    <ion-note color="danger" *ngIf="loginError">{{ loginError }}</ion-note>
  </div>
  <ion-item lines="inset">
    <ion-label color="secondary" position="floating">Username or Email</ion-label>
    <ion-input disabled={{loading}} inputmode="text" clear-input="true" type="text" [(ngModel)]="credential"></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label color="secondary" position="floating">Password</ion-label>
    <ion-input disabled={{loading}} clear-input="true" type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-button shape="round" expand="block" (click)="signInPressed()" color="tertiary">
      <div *ngIf="loading === false" id="button-text">
        Continue
      </div>
      <div *ngIf="loading === true" id="button-spinner">
          <ion-spinner></ion-spinner>
      </div>  
  </ion-button>

  <ion-button shape="round" fill = "clear" color="tertiary" expand="block" (click)="createAccountPressed()">
    Create Account
  </ion-button>

</div>