<div class="login-view">

  <div class="app-name">
    <h1>Music Match</h1>
  </div>
  <div class="error">
    <ion-note color="danger" *ngIf="loginError">{{ loginError }}</ion-note>
  </div>
  <ion-item lines="inset">
    <ion-label color="dark" position="floating">Email</ion-label>
    <ion-input disabled={{loading}} inputmode="email" clear-input="true" type="email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label color="dark" position="floating">Password</ion-label>
    <ion-input disabled={{loading}} clear-input="true" type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-button shape="round" expand="block" (click)="loginPressed()">
      <div *ngIf="loading === false" id="button-text">
        Continue
      </div>
      <div *ngIf="loading === true" id="button-spinner">
          <ion-spinner></ion-spinner>
      </div>
  </ion-button>

  <ion-button shape="round" fill = "clear" expand="block" (click)="createAccountPressed()">
    Create Account
  </ion-button>

</div>