@import url("https://fonts.googleapis.com/css?family=Amiko&display=swap");

ion-content {
  padding: 30px;
}

.login-view {
  height: 100%;
  width: 100%;
}

.app-logo {
  margin: 5% 20% 5% 20%;
}

ion-item {
  margin: 12px auto;
  padding: 0;
  max-width: 500px;
  --background: none;
  --background-focused: none;
  padding: 0 20px 0 ;
  font-size: 20px;
}

.login-text {
  text-align: center;
  color: purple;
}

ion-button {
  margin: 5% auto 0px auto;
  width: 75%;
  height: 45px;
  max-width: 200px;
  font-size: 13pt;
}

.error {
  margin: 0 auto 20px auto;
  text-align: center;
  font-weight: bold;
  height: 50px;
  width: 70%;
}

ion-note {
  font-size: 13pt;
}
