<ion-header>
  <ion-toolbar>
    <ion-title>Create Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item-divider color="primary">
    <ion-label>
      Select Account Type
    </ion-label>
  </ion-item-divider>

  <ion-radio-group allow-empty-selection="false" (ionSelect)="changeRole($event)" >
    <ion-item>
      <ion-label>Artist</ion-label>
      <ion-radio value="Artist" checked></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Events Manager</ion-label>
      <ion-radio value="Events Manager"></ion-radio>
    </ion-item>
  </ion-radio-group>

  <ion-item-divider color="primary">
    <ion-label>
      Enter Account Details
    </ion-label>
  </ion-item-divider>

  <form [formGroup]="createAccountForm" (ngSubmit)="submit()">
    <ion-list>
      <ion-item lines="inset">
        <ion-label color="dark" position="floating">Username</ion-label>
        <ion-input inputmode="text" type="text" formControlName="username"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.username">
        <ng-container *ngIf="email.hasError(error.type) && (username.dirty || username.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
      <ion-item lines="inset">
        <ion-label color="dark" position="floating">Email</ion-label>
        <ion-input inputmode="email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.email">
        <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
      <ion-item lines="inset">
        <ion-label color="dark" position="floating">Password</ion-label>
        <ion-input inputmode="password" type="password" formControlName="password"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.password">
        <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
      <ion-item lines="inset">
        <ion-label color="dark" position="floating">Confrim Password</ion-label>
        <ion-input inputmode="password" type="password" formControlName="confirmedPassword"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.confirmedPassword">
        <ng-container *ngIf="confirmedPassword.hasError(error.type) && (confirmedPassword.dirty || confirmedPassword.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
    </ion-list>
    <ion-button [disabled]="!createAccountForm.valid" type="submit" expand="block"> 
      <div *ngIf="loading === false" id="button-text">
        Submit
        <ion-icon slot="end" name="create"></ion-icon>
      </div>
      <div *ngIf="loading === true" id="button-spinner">
          <ion-spinner></ion-spinner>
      </div>
     
    </ion-button>
  </form>
  
</ion-content>



