.TagHeader {
  font-size: small;
  margin-bottom: 12px;
}

.Tags {
  padding-left: 12px;
  padding-top: 12px;
}

#no-shadow {
  box-shadow: none;
}

.custom-skeleton ion-skeleton-text {
  line-height: 13px;
}

.custom-skeleton ion-skeleton-text:last-child {
  margin-bottom: 5px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  display: block;
  margin: 20px auto;
}

ion-avatar {
  width: 100%;
  height: 100%;
  border: 3px solid var(--ion-color-secondary);
  margin: 20px auto;
  position: relative;
  border-radius: 100%;
}

.btn-set-pic {
  width: 50px;
  height: 50px;
  border-radius: 90px;
  position: relative;
  bottom: 65px;
  left: 100px;
}

tag-input input {
  border-radius: 10px;
}

@import "~node_modules/ngx-chips/core/styles/core/_core.scss";

$foundation-primary: #E01A4F;
$foundation-primary-dark: darken($foundation-primary, 10%);

// this is the container's theme
$foundation-theme: (container-border-bottom: 1px solid $foundation-primary,
  color: black,

);

// this is the tag's theme
$foundation-tag-theme: (background: $foundation-primary,
  background-focused: $foundation-primary-dark,
  background-active: $foundation-primary-dark,
  background-hover: $foundation-primary-dark,
  color: #fff,
  color-hover: #fff,
  border-radius: 10px);


// this is the delete icon's theme
$foundation-icon-theme: (fill: #fff,
  fill-focus: #eee,
  transition: all 0.35s);

// this is the delete icon's theme
$foundation-tag-input-theme: (color: #000,
  background: none,
  border-radius: 10px);

// apply theme to the container
::ng-deep tag-input .ng2-tag-input.foundation-theme {
  @include tag-input-theme($foundation-theme);
}

// apply theme to the tags
::ng-deep tag-input .ng2-tag-input.foundation-theme tag {
  @include tag-theme($foundation-tag-theme);
}

// apply theme to the delete icon
::ng-deep tag-input .ng2-tag-input.foundation-theme tag delete-icon {
  @include icon-theme($foundation-icon-theme);
}

// apply theme to the input
::ng-deep tag-input .ng2-tag-input.foundation-theme input {
  background: none;
  color: white;
}

::ng-deep tag-input .ng2-tag-input.foundation-theme input::placeholder {
  color: whitesmoke;
}