<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-button color="light" slot="start" fill="clear" (click)="routeBack()" size="large">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!loading">

    <div class="profile-pic">
      <ion-avatar>
        <img *ngIf="profilePic != ''" src= "{{ 'data:image/jpeg;base64,' + profilePic }}">
        <img *ngIf="profilePic == ''" src= "https://eu.ui-avatars.com/api/?background=000&color=FFF&bold=true&size=128&name={{ name }}">
      </ion-avatar>
  
      <div class="btn-set-pic">
        <ion-button  shape="round" (click)="presentActionSheet()" disabled={{saving}} color="tertiary"> 
          <ion-icon name="camera"></ion-icon>
        </ion-button>
      </div>
      
    </div>

    <ion-item-divider color="secondary">
      <ion-label>
        About You
      </ion-label>
    </ion-item-divider>

    <div class="Tags">
      <ion-label color="secondary" position="floating" class="TagHeader">Associated Genres</ion-label>
      <tag-input [(ngModel)]="genres" [theme]="'foundation-theme'" [placeholder]="' + Add Genre'" [modelAsStrings]="true"></tag-input>
    </div>
    
    <div class="Tags"> 
      <ion-label color="secondary" position="floating" class="TagHeader">Associated Venues</ion-label>
      <tag-input [(ngModel)]="venues" [theme]="'foundation-theme'" [placeholder]="'Add Venue'" [modelAsStrings]="true"></tag-input>
    </div>

    <ion-item lines="inset">
      <ion-label color="secondary" position="stacked">Name</ion-label>
      <ion-input  clear-input="true" [(ngModel)]="name" placeholder="Alias" disabled={{saving}}></ion-input>
    </ion-item>

    <ion-item lines="inset"> 
      <ion-label color="secondary" position="floating">Bio</ion-label>
      <ion-textarea  clear-input="true" auto-grow="true" placeholder="Tell us a bit about you..." type="text" [(ngModel)]="bio" disabled={{saving}}></ion-textarea>
    </ion-item>

    <ion-item lines="inset">
      <ion-label color="secondary" position="floating">Looking for: </ion-label>
      <ion-textarea  clear-input="true" auto-grow="true" placeholder="Tell us what your looking for..." type="text" [(ngModel)]="lookingFor" disabled={{saving}}></ion-textarea>
    </ion-item>

    <ion-item-divider color="secondary">
      <ion-label>
        Match Location and Radius
      </ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-range min="0" max="100" step="10" color="secondary" snaps="true" [(ngModel)]='matchRadius' pin="true" disabled={{saving}}>
        <ion-label slot="start">0km</ion-label>
        <ion-label slot="end">100km</ion-label>
      </ion-range>
    </ion-item>

    <ion-item>
      <div *ngIf="locationLoading === false" id="button-text">
        <ion-input  clear-input="true" [(ngModel)]="postcode" placeholder="Postcode" disabled={{saving}}  clear-input="true"></ion-input>
      </div>
      <div *ngIf="locationLoading === true" id="button-spinner">
          <ion-spinner></ion-spinner>
      </div>
      <ion-button color="dark" slot="start" fill="clear" (click)="getCurrentLocation()" size="large" disabled={{saving}}>
        <ion-icon name="pin"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-button shape="round" expand="block" (click)="saveChanges()" color="tertiary">
      <div *ngIf="saving === false" id="button-text">
        Save Changes  
        <ion-icon name="brush"></ion-icon>
      </div>
      <div *ngIf="saving === true" id="button-spinner">
          <ion-spinner></ion-spinner>
      </div>
    </ion-button>
  </div>

  <!-- Skeleton screen -->
<div *ngIf="loading">

  <ion-list>
    <ion-list-header>
      <ion-label>
        <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
      </ion-label>
    </ion-list-header>
    <ion-item>
    
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</div>
    
</ion-content>

