.TagHeader {
  font-size: small;
  margin-bottom: 12px;
}

.Tags {
  padding-left: 12px;
  padding-top: 12px;
}

#no-shadow {
  box-shadow: none;
}

.custom-skeleton ion-skeleton-text {
  line-height: 13px;
}

.custom-skeleton ion-skeleton-text:last-child {
  margin-bottom: 5px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  display: block;
  margin: 20px auto;
}

ion-avatar {
  width: 100%;
  height: 100%;
  border: 3px solid var(--ion-color-secondary);
  margin: 20px auto;
  position: relative;
  border-radius: 100%;
}

.btn-set-pic {
  width: 50px;
  height: 50px;
  border-radius: 90px;
  position: relative;
  bottom: 65px;
  left: 100px;
}
