<app-page-header title="{{pageTitle}}"></app-page-header>

<ion-content fullscreen>
  <div *ngIf="loading">
    <ion-progress-bar type="indeterminate" color="secondarys"></ion-progress-bar>
  </div>
  
  <ion-list>

    <ion-item *ngFor="let match of currentlyViewedMatches"  class="ion-activatable ">
      <ion-avatar slot="start" (click)="viewMatchProfile(match)">
          <img *ngIf="match.picture != ''" src= "{{ 'data:image/jpeg;base64,' + match.picture }}">
          <img *ngIf="match.picture == ''" src= "https://eu.ui-avatars.com/api/?background=000&color=FFF&bold=true&size=128&name={{ match.name }}">
      </ion-avatar>
      <ion-label (click)="viewMatchProfile(match)">
        <h1>{{ match.name }}</h1>
      </ion-label>
      <ion-ripple-effect></ion-ripple-effect>
      <ion-button slot="end" size="medium" (click)="messageMatch(match)" color="tertiary">
        <ion-icon name="mail"></ion-icon>
      </ion-button>
    </ion-item>

    
    <div *ngIf="currentlyViewedMatches.length <= 0 && !loading" class="no-contacts-text"> 
      <ion-label>
        <p> You have no {{ currentRoleView }} contacts... </p>
      </ion-label>
    </div>

  </ion-list>

</ion-content>
