.suggestions {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(206, 204, 204);
  position: absolute;
  left: 0;
  top: 0;
}

.suggestions--status {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.suggestions--cards {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-top: 30px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.suggestions--card {
  display: inline-block;
  width: 80%;
  height: 70%;
  background: #FFFFFF;
  padding-bottom: 40px;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.moving.suggestions--card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.suggestions--status > div {
  transition: all 0.3s ease-in-out;
}

.suggestions--status svg {
  transition: all 0.3s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px;
}

.suggestions--card h3 {
  margin-top: 16px;
  font-size: 24px;
  padding: 0 16px;
  pointer-events: none;
}

.suggestions--card p {
  margin-top: 24px;
  font-size: 16px;
  padding: 0 16px;
  pointer-events: none;
}

.suggestions--buttons {
  position: absolute;
  flex: 0 0 100px;
  text-align: center;
  bottom: 20px;
  left: 0;
  right: 0;
}

.suggestions--buttons button {
  border-radius: 50%;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border: 0;
  background: #FFFFFF;
  display: inline-block;
  padding-top: 10px;
  margin: 0 12px;
}

.suggestions--buttons button:focus {
  outline: 0;
}