<div class="suggestions">
  <div class="suggestions--status">
    <div [style.opacity]="crossVisible? '1':'0'" class="dismiss">
      <ion-icon name="close" ></ion-icon>
    </div>

    <div [style.opacity]="heartVisible? '1':'0'" class="like">
      <ion-icon name="musical-note"></ion-icon>
    </div>
  </div>

  <div class="suggestions--cards" (pan)="handlePan($event)" (panend)="handlePanEnd($event)">

    <div #suggestionCard class="suggestions--card" (transitionend)="handleShift()" *ngFor="let card of cards; let i = index"
      [ngStyle]="{ zIndex: cards.length - i, transform: 'scale(' + (20 - i) / 20 + ') translateY(-' + 20 * i + 'px)' }">
      
      <div class="card-content">
        <div class="card-header">
            
          <ion-avatar>
            <img *ngIf="card.picture != ''" src= "{{ 'data:image/jpeg;base64,' + card.picture }}">
            <img *ngIf="card.picture == ''" src= "https://eu.ui-avatars.com/api/?background=000&color=FFF&bold=true&size=128&name={{ card.name }}">
          </ion-avatar>
          <div class="header-subtitles">
            <ion-text>
              <div class="name">
                <h1>{{ card.name }}</h1>
              </div>
              <h4>{{ card.distance }} km away</h4>
              <ion-button size="small" shape="round" (click)="viewAccountPage()" color="tertiary">
                <ion-icon name="information-circle"></ion-icon>
                View Profile
              </ion-button>
            </ion-text> 
          </div>
        </div>
        <div class="card-details">
          <ion-label color="secondary"> About </ion-label>
          <div class="card-bio">
            <ion-text>
              <p> {{card.bio}} </p>
            </ion-text>
          </div>
          <div class="card-tags">
            <ion-label color="secondary"> Genres </ion-label>
            <div class="tags">
              <ion-badge *ngFor="let genre of card.genres" color="tertiary">{{genre}}</ion-badge>
            </div>
            <ion-label color="secondary"> Venues </ion-label>
            <div class="tags">
              <ion-badge *ngFor="let venue of card.venues" color="tertiary">{{venue}}</ion-badge>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="suggestions--buttons">
    <ion-fab (click)="userClickedButton($event, true)" horizontal="end">
      <ion-fab-button>
        <ion-icon name="musical-note"></ion-icon>
      </ion-fab-button>

    </ion-fab>
    <ion-fab (click)="userClickedButton($event, false)" horizontal="start">
      <ion-fab-button>
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</div>

