.suggestions {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

ion-avatar {
  width: 45%;
  min-width: 45%;
  height: auto;
  align-self: baseline;
  padding: 10px;
} 

ion-avatar  img {
  border: 3px solid var(--ion-color-secondary);
  border-radius: 100%;
}


.suggestions--status {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.suggestions--status ion-icon {
  position: absolute;
  width: 100px;
  margin-left: -50px; 
  font-size: 100px;
  border-radius: 50px;
}

.like ion-icon {
  color: var(--ion-color-secondary);
  font-size: 100px;
  border-radius: 50px;
}

.dismiss ion-icon {
  color: var(--ion-color-tertiary);
  font-size: 100px;
  border-radius: 50px;
}

.suggestions--cards {
  text-align: left;
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.suggestions--card {
  display: flex;
  width: 85%;
  height: 70%;
  background: var(--ion-color-primary-contrast);
  margin-top: -60px;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 20px var(--ion-color-medium);
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.moving.suggestions--card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.suggestions--status > div {
  transition: all 0.3s ease-in-out;
}

.suggestions--buttons {
  padding-bottom: 50px ;
  position: absolute;
  margin: 0 auto;
  max-width: 40%;
  flex: 0 0 100px;
  text-align: center;
  bottom: 15px;
  left: 0;
  right: 0;
}

.suggestions--buttons ion-icon {
  color: white;
  font-size: 40px;
  line-height: 50px;
  width: 50px;
  height: 50px;
}

.suggestions--buttons button:focus {
  outline: 0;
}

.card-content {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between
  ;
}

.card-header {
  display: flex;
  flex-direction: row;  
}

.header-subtitles {
  flex-grow: 1;
}

.name {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 50%;
}

.card-details {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.card-bio {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp);
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
  margin-top: -10px;
}

.card-tags {
  display: flex;
  flex-direction: column;
}

.tags {
  margin-top: 3px;
  margin-bottom: 2px;
  max-height: var(--tags-max-height);
  overflow: hidden;
}

ion-badge {
  margin-right: 2px;
  margin-bottom: 2px;
  padding: 3px;
}

ion-fab-button {
  width: var(--fab-radius);
  height: var(--fab-radius);
  border-style: solid;
  border-radius: 50%;
  border-width: 3px;
  border-color: var(--ion-color-tertiary);
  box-shadow: 0 0 20px var(--ion-color-medium);
}

p {
  font-size: var(--font-size);
}

ion-label{ 
  margin-bottom: 5px;
  font-size: var(--font-size);
}

